* {
    padding: 0;
    margin: 0;
    list-style: none;
}

main {
    text-align: center;
    width: 72%;
    height: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    margin-top: 30px;
}

.top-article {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.top-article video {
    height: 100%;
    width: 100%;
    margin-top: -21px;
}

.video-top {
    position: relative;
}

.video-title {
    position: absolute;
    overflow: hidden;
    top: 87%;
    left: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    z-index: 2;
}

.video-title a {
    text-decoration: none;
    color: white;
}

.video-title a:hover {
    cursor: pointer;
}

.likes-comments {
    position: absolute;
    overflow: hidden;
    top: 87%;
    right: 20px;
    z-index: 2;
}

.video-comments, .video-likes {
    display: inline-block;
}

.video-likes {
    margin-left: 10px;
}

.likes-comments a {
    display: block;
    width: 30px;
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.video-comments a {
    background: url(../img/video-comments.png) no-repeat;
    background-position: left;
}

.video-likes a {
    background: url(../img/video-like.png) no-repeat;
    background-position: left;
}

.wrapper-desc-author {
    position: relative;
    overflow: hidden;
    height: 165px;
}

.description {
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    text-align: left;
    padding-bottom: 8px;
}

.title-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 0;
}

.title-description a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.title-description a:hover {
    color: #3f51b5;
}

.text-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.wrapper-author-post {
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
}

.wrapper-author-post-next {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    width: 100%;
}

.author-post {
    position: relative;
    overflow: hidden;
    width: 96%;
    margin: 0 auto;
    display: flex;
    height: 90px;
}

.author-name-date {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

.author1 {
    float: left;
}

.author1 img {
    vertical-align: middle;
}

.name-date {
    float: left;
    text-align: left;
    margin-left: 10px;
    line-height: 27px;
}

.author-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.author-date {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(33, 33, 33, 0.541);
}

.more {
    float: right;
    line-height: 54px;
}

.gorizontal-post {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    background: white;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 165px;
}

.screen {
    float: left;
    position: relative;
    overflow: hidden;
    width: 258px;
    height: 165px;
}

.video1 {
    position: relative;
    overflow: hidden;
    height: 165px;
}

.gorizontal {
    top: 67%;
    font-size: 12px;
    left: 15px;
}

.gorizont {
    top: 67%;
}

.gori {
    float: left;
    margin-left: 20px;
    width: 93%;
    height: 70px;
}

.gor {
    line-height: 25px;
}

.two-post img {
    width: 100%;
    height: 100%;
}

.six {
    top: 79% !important;
}

.si {
    top: 79% !important;
}

.vertical {
    width: 30%;
    height: 100%;
    display: inline-block;
}

.vertical-screen {
    width: 100%;
}

.vertical-description {
    padding: 0 14px;
}

.wrapper-author-post-vertical {
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.vino video {
    margin-top: -5px;
}

.vin {
    font-size: 14px;
}

.wrapper-vertica {
    overflow: hidden;
    width: 100%;
}

.wrapper-vertica-gorez {
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.vertica {
    width: 90%;
    height: 84px;
}

.vin-text {
    margin-bottom: 25px;
}

.bla {
    text-align: justify;
    position: relative;
    overflow: hidden;
}

.bla:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
}

.bla:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.ver-two .video1 {
    height: 156px;
}

.ver-two .screen {
    height: 162px;
}

.big {
    width: 48%;
}

.wrap-big {
    display: flex;
    justify-content: space-between;
}

.wrap-big .author1 {
    float: left;
}

.wrap-big .author1 img {
    width: auto;
    height: auto;
}

.lefft, .rigght {
    width: 48% !important;
}

.bigg {
    height: 100% !important;
}

.biggg {
    top: 84% !important;
}

.big-title-description {
    font-size: 18px;
}

.big-text-description {
    font-size: 16px;
}

.more-bottom {
    position: relative;
    overflow: hidden;
    float: right;
    height: 127px;
}

.more-bottom a {
    display: block;
    overflow: hidden;
}

.more-bottom p {
    margin: 0;
    float: left;
    line-height: 127px;
    margin-right: 9px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #303f9f;
}

.more-bottom-img {
   float: right;
   line-height: 127px;
}

.more-bottom-img img {
    margin-bottom: -15px;
}

.bottom-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.wrapper-bottom-subscribe {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    background: url(../img/subscribe-bottom-fon.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    height: 240px;
    width: 240px;
}

.bottom-subscribe {
    width: 1170px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-bottom-subscribe {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: white;
}

.email {
    position: relative;
    overflow: hidden;
    margin-right: 30px;
}

.email input {
    width: 268px;
    line-height: 43px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgb(48, 48, 48);
    opacity: 0.38;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.subscribe-bottom {
    position: relative;
    overflow: hidden;
    border-radius: 22px;
    background-color: rgb(48, 63, 159);
    box-shadow: 0px 17px 24px 0px rgba(48, 63, 159, 0.2);
    width: 170px;
    text-align: center;
}

.subscribe-bottom a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-decoration: none;
    outline: none;
    line-height: 45px;
    display: block;
}

.together div {
    float: left;
}

.gp480-four, .gp480-five {
    display: none;
}

.pasco {
    display: none;
}

.small-screen {
    display: none;
}

.copyright, .reserved {
    display: none;
}

@media (max-width: 1158px) {
    
    .vertical {
        display: block;
        width: 256px;
        height: 100% !important;
        margin: 20px auto;
    }
    
    .vertical .screen {
        padding: 0;
    }
    
}

.wrapper-content-main {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1110px) {
    
    .gorizo {
        font-size: 15px;
    }
    
}

@media (max-width: 1100px) {
    
    .goriz {
        font-size: 12px;
    }
    
    .gori {
        height: 70px;
    }
    
    
}

@media (max-width: 1081px) {
    
    .text-bottom-subscribe {
        width: 100%;
        text-align: center;
    }
    
    .together {
        max-width: 100%;
        margin: 0 auto;
    }
    
}

@media (max-width: 1060px) {
    
    .video-title {
        top: 86%;
    }
    
    .likes-comments {
        top: 86%;
    }
    
    
    .gorizont {
        top: 67%
    }
    
    .gorizontal {
        top: 67%;
    }
    

}



@media (max-width: 987px) {
    
    .video-title {
        top: 84%;
    }
    
    .likes-comments {
        top: 84%;
    }
    
     .gorizont {
        top: 67%
    }
    
    .gorizontal {
        top: 67%;
    }
    
    .ten {
        line-height: 48px;
    }
    
}

@media (max-width: 995px) {
    
    .gori {
        width: 92%;
    }
    
    .vertical .gori {
        width: 90%;
    }
    
}

@media (max-width: 960px) {
    
    .video-title {
        font-size: 15px;
        left: 15px;
    }
    
    .likes-comments {
        right: 15px;
    }
    
}

@media (max-width: 922px) {
    
    .gorizontal-post {
        height: 330px;
    }
    
    .screen {
        float: none;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    
    .gori {
        height: 70px;
        width: 95%;
    }
    
    .ten {
        line-height: 0;
    }
    
    .te {
        height: 70px;
    }
    
    .wrapper-desc-author {
        height: 155px;
    }
}

@media (max-width: 886px) {
    
    
    
}

@media (max-width: 868px) {
    
    .video-title {
        top: 82%;
    }
    
    .likes-comments {
        top: 82%;
    }
    
     .gorizont {
        top: 67%
    }
    
    .gorizontal {
        top: 67%;
    }
    
}

@media (max-width: 777px) {
    
    .video-title {
        top: 80%;
    }
    
    .likes-comments {
        top: 80%;
    }
    
     .gorizont {
        top: 67%
    }
    
    .gorizontal {
        top: 67%;
    }
    
}

@media (max-width: 768px) {
    
    .video-title {
        font-size: 14px;
        left: 10px;
    }
    
    .likes-comments {
        right: 10px;
    }
    
    .likes-comments a {
        font-size: 11px;
    }
    
}

@media (max-width: 703px) {
    
    .video-title {
        top: 76%;
    }
    
    .likes-comments {
        top: 76%;
    }
    
     .gorizont {
        top: 67%
    }
    
    .gorizontal {
        top: 67%;
    }
    
}

@media (max-width: 640px) {
    
    .video-title {
        font-size: 13px;
        left: 5px;
    }
    
    .likes-comments {
        right: 5px;
    }
    
    .gori {
        width: 90%;
    }
    
    .biggg {
        font-size: 12px;
    }
    
    .biggg .video-likes {
        margin-left: 5px;
    }
    
    .wrapper-vertica .gori {
        margin-left: 15px;
    }
    
    .gorez{
        border-top: 1px solid #e0e0e0;
    }
    
}

@media (max-width: 629px) {
    
    .for-post {
        height: 354px;
    } 
    
    .must {
        height: 179px;
    }
    
}

@media (max-width: 592px) {
    
    .video-title {
        top: 70%;
    }
    
    .likes-comments {
        top: 70%;
    }
    
     .gorizont {
        top: 67%
    }
    
    .gorizontal {
        top: 67%;
    }
    
    .text-bottom-subscribe {
        font-size: 32px;
    }
    
    .gorez {
        margin-left: 1px;
    }
    
    .wrapper-vertica-gorez .vertica {
        width: 95%;
        margin-left: 1px;
    }
    
    .wrapper-vertica-gorez .author-name {
        font-size: 12px;
    }
    
    .wrapper-vertica-gorez .author-date {
        font-size: 10px;
    }
    
    .wrapper-vertica-gorez .name-date {
        margin-left: 0px;
    }
    
    .email input {
        width: 200px;
    }
    
    .subscribe-bottom {
        width: 150px;
    }
    
}

@media (max-width: 563px) {
    
    .gorizontal-post {
        height: 342px;    
    }
    
    .for-post {
        height: 374px;
    }
    
    .wrapper-desc-author {
        height: 167px;
    }
    
     .must {
        height: 199px;
    }
    
}

@media (max-width: 480px) {
    
    .wrapper-content-main {
        display: block;
    }
    
    main {
        float: none;
        display: block;
        width: 90%;
        margin: 30px auto;
    }
    
    sidebar {
        display: block;
    }
    
    .vt480 {
        top: 60%;
    }
    
    .v480 {
        display: none;
    }
    
    .i480 {
        display: block;
        position: relative !important;
        height: 100%;
        width: 100%;
    }
    
    .gp480 {
        height: 97px;
        border-radius: 4px;
        box-shadow: 0px 15px 37px 0px rgba(0, 0, 0, 0.21);
    }
    
    .s480 {
        margin: 0;
        padding: 0;
        float: left;
        height: 100%;
        width: 45%;
    }
    
    .v1-480 {
        height: 100%;
    }
    
    .vt-g-480 {
        top: 55%;
        margin-left: 5px;
    }
    
    .six {
        top: 55% !important;
    }
    
    .lc-g-480 {
        top: 75%;
        left: 0;
        right: none !important;
        float: left;
        width: 76px;
        margin-left: 10px;
    }
    
    .wda480 {
        height: 100%;
    }
    
    .d480 {
        padding-left: 9px;
        padding-bottom: 0;
        height: 40%;
    }
    
    .td-g480 {
        padding: 5px 0;
    }
    
    .td-g480 a {
        color: #3f51b5;
    }
    
    .method1 {
	    background: -webkit-linear-gradient(right, #C0C0C0, #3f51b5);
	    background: linear-gradient(right, #C0C0C0, #3f51b5);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    
    .txd-g480 {
        display: none;
    }
    
    .ap-g480 {
        width: 94%;
        height: 100%;
        margin-left: 9px;
    }
    
    .a1-480 {
        display: none;
    }
    
    .nd480 {
        margin: 0;
        line-height: 25px;
    }
    
    .m480 {
        line-height: 50px;
        padding-right: 11px;
    }
    
    .ay-480 {
        display: none;
    }
    
    .gp480-two {
        height: 100%;
        float: left;
        width: 45%;
        margin-bottom: 20px;
        box-shadow: 0px 15px 37px 0px rgba(0, 0, 0, 0.21);
    }
    
    .s480-two {
        float: none;
        height: 97px;
        width: 100%;
    }
    
    .wda480-two {
        height: 58%;
    }
    
    .wapn480 {
        position: relative;
        height: 59%;
    }
    
    .bla {
        width: 100%;
    }
    
    .gp480-three {
        float: right;
        height: 97px;
        box-shadow: 0px 15px 37px 0px rgba(0, 0, 0, 0.21);
    }
    
    .author-name {
        font-size: 13px;
    }
    
    .nd-480 {
        line-height: 28px;
    }
    
    .m-480 {
        line-height: 62px;
    }
    
    .wda480-three {
        display: none;
    }
    
    .gp480-four {
        display: block;
        float: right;
        box-shadow: 0px 15px 37px 0px rgba(0, 0, 0, 0.21);
    }
    
    .gp480-five {
        display: block;
        float: left;
        box-shadow: 0px 15px 37px 0px rgba(0, 0, 0, 0.21);
    }
    
    .imgfill {
        display: block;
    }
    
    .vertical-description {
        display: none;    
    }
    
    .wapv1 {
        display: none;
    }
    
    .ver-two .screen {
        height: 100%;
    }
    
    .vertical-screen {
        height: 178px;
    }
    
    .vertical {
        height: 178px !important; 
        width: 280px;
    }
    
    .vd1 {
        height: 183px;
    }
    
    .svsv {
        width: 100%;
    }
    
    .nep {
        display: none;
    }
    
    .gp-480 {
        height: 97px !important;
        width: 100%;
    }
    
    .d-480 {
       display: block;
        height: 46%;
    }
    
    .wapv1 {
        display: block;
        width: 55%;
    }
    
    .v1-480 {
        height: 97px !important;   
    }
    
    .vt-480 {
        height: 100% !important;
        width: 258px;
    }
    
    .dvd-480 {
        display: block;
    }
    
    .tdgv-480 a {
        color: #3f51b5;
    }
    
    .vtgs-480 {
        top: 79% !important;
    }
    
    .wrap-big {
        display: block;
    }
    
    .wvg-480 {
        display: none;
    }
    
    .lefft {
        width: 288px !important;
    }
    
    .biggg {
        top: 83% !important;
    }
    
    .rigght {
        height: 100% !important;
        width: 288px !important;
    }
    
    .dvd480 {
        display: block;
    }
    
    .wrapper-vertica-gorez .vertica {
        width: 90%;
        margin-left: 15px;
    }
    
    .bigg {
        height: 180px !important;
    }
    
    .big-title-description a {
        color: #3f51b5;
    }
    
    .search {
        display: none;
    }
    
    .subcribe {
        display: none;
    }
    
    .post {
        display: none;
    }
    
    .box {
        display: none;
    }
    
    .wrapper-bottom-subscribe {
        display: none;
    }
    
    .widgets-pairs:first-child {
        display: none;
    }
    
    .widgets-bottom:last-child {
        display: none;
    }
    
    sidebar {
        background-color: #212121;
    }
    
    .more-bottom {
        display: none;
    }
    
    .pasco {
        display: block;
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        padding: 15px 0 40px 0;
    }
    
    .title-pasco {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: white;
        padding: 25px 0;
    }
    
    .text-pasco {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.502);
    }
    
    .button-pasco {
        margin-top: 20px;
        width: 120px;
        height: 30px;
        background-color: #303030;
        border-radius: 25px;
        text-align: center;
    }
    
    .button-pasco a {
        display: block;
        text-decoration: none;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.702);
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .caption {
        font-size: 18px;
        color: white;
        border-bottom: none !important;
    }
    
    .cat-left {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(255, 255, 255, 0.702);
    }
    
    .cat-right {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(238, 238, 238, 0.502);
        font-weight: 700;
    }

    .categories li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.122);
    }
    
    .tags-menu {
        position: relative;
        overflow: hidden;
    }
    
    .tags {
        font-size: 18px;
        color: white;
        border-bottom: none !important;
    }
    
    .tags-menu a {
        background: none;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(255, 255, 255, 0.702);
        border-width: 1px;
        border-color: rgb(196, 197, 216);
        border-style: solid;
        border-radius: 4px;
        opacity: 0.702;
    }
    
    .title-widgets {
        font-size: 18px;
    }
    
    .title-widgets span {
        display: none;
    }
    
    .widgets-bottom {
        width: 100% !important;
    }
    
    .over {
        display: none;
    }
    
    .widgets-pairs:last-child {
        width: 90%;
    }
    
    .flickr-img {
        width: 50%;
        text-align: center;
    }
    
    .wrapper-widgets {
        min-height: 100% !important;
    }
    
    .footer-menu {
        display: flex;
        justify-content: space-between;
        width: 90% !important;
    }
    
    .footer-menu li:last-child {
        display: none;
    }
    
    .small-screen {
        display: block;
    }
    
    .big-screen {
        display: none;
    }
    
    .search-container {
        display: none;
    }
    
    .wrap-person {
        display: none !important;
    }
    
    .copyright, .reserved {
        display: inline-block;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(255, 255, 255, 0.502);
    }
    
    .copyright {
        padding-right: 5px;
        border-right: 1px solid rgba(255, 255, 255, 0.402);
    }
    
}
