* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper-all {
    width: 100%;
    background: #f5f5f5;
    overflow: hidden;
}

.wrapper-content-main {
    max-width: 1170px;
    overflow: hidden;
    margin: 0 auto;
}

sidebar {
    width: 25%;
    position: relative;
    overflow: hidden;
    float: right;
    background: white;
    text-align: center;
    margin-top: 30px;
}

.search {
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 20px;
}

.search input {
    overflow: hidden;
    width: 95%;
    height: 43px;
    background-color: rgb(245, 245, 245);
    border: 1px solid white;
    border-radius: 22px;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.search input[type="search"]::-webkit-search-cancel-button { /* псевдо что-то, что отвечает за кнопку очистки */
    -webkit-appearance: none; 
}

.search:after {
    content: url(../img/sidebar-search.png);
    position: absolute;
    right: 9px;
    top: 20px;
    cursor: pointer;
}

.side-menu {
    width: 92%;
    overflow: hidden;
    margin: 0 auto;
}

.categories li {
    width: 100%;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #ebeae9;
}

.caption {
    line-height: 40px;
    border-bottom: 1px solid #aec3ff !important;
    text-align: left;
    color: #3f51b5;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.categories li:last-child {
    border-bottom: none;
}

.categories li a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.categories li a:hover {
    color: #3f51b5;
}

.cat-left {
    float: left;
}

.cat-right {
    font-weight: 700;
    float: right;
}

.subcribe {
    margin-top: 30px;
}

.side-socials {
    margin-top: 15px;
}

.side-socials a {
    display: inline-block;
    width: 15%;
}

.subscribe-input {
    text-align: left;
}

.subscribe-input span {
    display: block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 0;
}

.subscribe-input input{
    width: 93%;
    height: 43px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding-left: 15px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.subcribe li button {
    margin: 10px 0;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: #3f51b5;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.but {
    display: block;
}

.or {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.or:before {
    content: '';
    position: absolute;
    display: block;
    width: 40%;
    height: 1px;
    background: #757575;
    margin-top: 12px;
}

.or:after {
    content: '';
    position: absolute;
    margin-left: 7px;
    width: 40%;
    height: 1px;
    background: #757575;
    margin-top: 12px;
}

.post {
    margin-top: 45px;
}

.tab-post {
    width: 98%;
    border: 1px solid #3f51b5;
    border-radius: 3px;
    margin: 19px 0;
}

.tab {
    width: 50%;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #3f51b5;
}

.tab a {
    text-decoration: none;
    color: #3f51b5;
    display: block;
}

.active-post {
    background: #3f51b5 !important;
    color: white !important;
}

.post-list {
    width: 98%;
    border-bottom: 1px solid #dee5e9;
    margin-top: 15px;
    padding-bottom: 15px;
}

.post-list:first-child {
    margin-top: 0;
}

.post-list a {
    display: block;
    overflow: hidden;
}

.post li a img {
    float: left;
}

.title {
    float: right;
    width: 56%;
    text-align: left;
}

.date-post {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #757575;
}

.comments-post {
    float: right;
    text-align: right;
    width: 35px;
    background: url(../img/post-comments.jpg) no-repeat;
    background-position: left;
    color: #a1b1bc;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.about-post {
    float: left;
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.wrap-tags {
    margin-top: 45px;
}

.tags {
    line-height: 40px;
    border-bottom: 1px solid #aec3ff;
    text-align: left;
    color: #3f51b5;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.tags-menu li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.tags-menu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    background: #eeeeee;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1015px) {
    
    .subscribe-input input {
        width: 90%;
    }
    
    .title {
        float: left;
    }
    
}

@media (max-width: 1008px) {
    
    .title {
        float: none;
        width: 100%;
    }
    
    .post li a img {
        float: none;
    }
    
}

@media (max-width: 999px) {
    
    .tab {
        font-size: 12px;
    }
    
}

@media (max-width: 979px) {
    
    .side-socials a {
        width: 31%;
}
    
}

@media (max-width: 856px) {
    
    .tab {
        font-size: 10px;
    }
    
}

@media (max-width: 734px) {
    .widget {
        font-size: 12px;
    }
    
}

@media (max-width: 713px) {
    
    .tab {
        font-size: 9px;
    }
    
}

@media (max-width: 712px) {
    
    .subscribe-input input {
        width: 87%;
    }
    
    .search:after {
        display: none;
    }
    
    .search input {
        font-size: 14px;
        padding-left: 10px;
    }
    
    .caption {
        font-size: 14px;
    }
    
    
    .categories li a {
        font-size: 12px;
    }
    
    .subscribe-input span {
        font-size: 14px;
    }
    
    .subscribe-input input {
        font-size: 11px;
        padding-left: 2px;
        width: 96%;
    }
    
    .subcribe li button {
        font-size: 16px;
    }
}

@media (max-width: 642px) {
    
    .tab {
        font-size: 10px;
        line-height: 19px; 
    }
}

@media (max-width: 572px) {
    
    .subscribe-input input {
        width: 96%;
    }
    
    .widget {
        font-size: 11px;
    }
    
}

@media (max-width: 480px) {
    
    sidebar {
        float: none;
        width: 100%;
    }
    
}