.carusel-hider {
    width: 600px;
    overflow: hidden;
    float: left;
}

.carusel-list {
    list-style: none;
    width: 10000px;
    padding: 0;
    position: relative;
}

.carusel-element{
    display: block;
    margin-right: 25px;
    float: left;
}

.carusel-element img {
    max-width: 100px;
}

.carusel-arrow-left, .carusel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgray;
    padding: 5px;
    margin-top: 50px;
}

.carusel-arrow-left:hover, .carusel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.carusel-arrow-right {
    margin-left: 25px;
}

.carusel-arrow-left {
    margin-right: 25px;
}