* {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*85c0df цвет ховера*/


header {
    overflow: hidden;
}

.wrap-log-in {
    background-color: #191919;
    max-width: 100%;
}

.log-in {
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    height: 40px;
    display: flex;
    align-items: center;
}

.socials {
    overflow: hidden;
    width: 50%;
    float: left;
}

.socials li {
    float: left;
    padding-right: 14px;
}

.socials li:last-child {
    padding-right: 0;
}

.socials a {
    height: 15px;
    width: 21px;
    display: block;
    background: url(../img/socials-sprait_03.png) 0 0 no-repeat;
}

.socials .facebook {
    background-position: 7px 0;
}

.socials .facebook:hover {
    background-position: 7px -16px;
}

.socials .twitter {
    background-position: -20px 0;
}

.socials .twitter:hover {
    background-position: -20px -16px;
}

.socials .pinterest {
    background-position: -47px 0;
}

.socials .pinterest:hover {
    background-position: -47px -16px;
}

.socials .vk {
    background-position: -76px 0;
}

.socials .vk:hover {
    background-position: -76px -16px;
}

.socials .google-plus {
    background-position: -109px 0;
}

.socials .google-plus:hover {
    background-position: -109px -16px;
}

.socials .behanse {
    background-position: -143px 0;
}

.socials .behanse:hover {
    background-position: -143px -16px;
}

.socials .dribbble {
    background-position: -174px 0;
}

.socials .dribbble:hover {
    background-position: -174px -16px;
}

.socials .instagram {
    background-position: -202px 0;
}

.socials .instagram:hover {
    background-position: -202px -16px;
}

.person {
    overflow: hidden;
    width: 50%;
    float: right;
}

.person-login {
    overflow: hidden;
    float: right; 
}

.person-login li {
    float: left;
    padding: 0 15px;
}

.person-login li:last-child {
    padding-right: 4px;
}

/*
.person-login li:last-child {
    padding-right: 0;
}
*/

.person-login a {
    text-decoration: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.person-login a:hover {
    color: rgba(103, 198, 230, 0.5); 
}

.person-login li:first-child {
    border-right: 1px solid #545454;
}

.person-login li:last-child {
    padding-left: 18px;
}

.sign:before {
    content: url('../img/sign.png');
    position: relative;
    left: -5px;
    top: 3px;
}

.sign:hover:before {
    content: url('../img/sign-in-test.png');
}

.language:before {
    content: url(../img/lang.png);
    position: relative;
    left: -5px;
    top: 3px;
}

.language:hover:before {
    content: url(../img/lenguage-b.png);
}

.language:after {
    content: url(../img/arrow.png);
    position: relative;
    top: -1px;
    right: -5px;
}

.language:hover:after {
    content: url(../img/leng-arrow-b.png);
    top: -2px;
}

.pl-podmenu {
    position: absolute;
    display: none;
}

.person-login li:hover .pl-podmenu  {
    display: block;
} 

.pl-podmenu li:first-child {
    border-right: none;
}

.pl-podmenu li {
    float: none;
}

.pl-podmenu li:first-child {
    padding-left: 16px;
}

.pl-podmenu li:last-child {
    padding-left: 16px;
}

.pl-podmenu a {
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 535px) {
    
    .socials {
        width: 62%;
    }
    
    .person {
        width: 38%;
    }
    
}

@media (max-width: 480px) {
    
    .wrap-log-in {
        background-color: #303f9f;
    }
    
    .socials {
        display: none;
    }
    
    .person {
        width: 100%;
    }
    
    .person-login {
        width: 100%;
    }
    
    .person-login li:first-child {
        border: none;
    }
    
    .person-login li:last-child {
        float: left;
    }
    
    .person-login li {
        float: right;
    }
    
    .pl-podmenu li {
        float: none;
}
    
}