<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script data-main="js/app" src="js/require.js"></script>
</head>
<body>
   <script type="text/template" id="wrapper-template">
    <div class="wrapper">
        <ul class="item-list"></ul>
        <div class="controlls">
            <input type="text" class="item-value">
            <button class="item-add">Add</button>
        </div>
    </div>
    </script>
    
    <script type="text/template" id="list-template">
    <% for (var i = 0; i < data.length; i++) { %>
    <li><%= data[i] %> <span data-value="<%= data[i] %>" class="item-delete">x</span>
        <button data-value="<%= data[i] %>" class="list__item__control__button list__item__control__button--edit">Edit</button></li>
    <% }; %>
    </script>
</body>
</html>