* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    
}
body {
    background: #f9f9f9;
}

.wrapper {
    width: 1060px;
    margin: 0 auto;
    background: white;
}

/* Основная обертка */

.wrapper1 {
    width: 966px;
    margin: 0 auto;
}

.logo {
    margin-top: 50px;
    margin-bottom: 40px;
}

/* Верхнее меню */

.menu {
    height: 40px;
    background: #4e4d4d;
    margin-bottom: 40px;
}

.spisok {
    list-style: none;
}

.menu1 {
    display: inline-block;
    line-height: 40px;
    padding: 0px 35px;
    font-size: 15px;
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);
    color: white;
}

.menu1:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

/* Верхнее меню - конец */

/* Боковая панель */

.left_menu {
    display: inline-block;
    float: left;
    width: 240px;
}

.menu2 {
    display: block;
    height: 40px;
    border: 1px solid rgb(200, 200, 200);
    line-height: 40px;
    padding-left: 35px;
    font-size: 14px;
}

.menu2:first-child {
    border-bottom-style: none;
}

.menu2:nth-child(2) {
    border-bottom-style: none;
    
}
.menu2:nth-child(3) {
    border-bottom-style: none;
}

.menu2:nth-child(4) {
    border-bottom-style: none;    
}

.menu2:nth-child(5) {
    border-bottom-style: none;
}
.menu2:hover {
    padding-left: 47px;
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Боковая панель - конец */

/* Контент */

.content {
    display: inline-block;
    float: right;
    width: 678px;
}


img {
    margin-bottom: 40px;
}


.text {
    margin-left: 24px;
    margin-bottom: 50px;
    margin-right: 24px;
    line-height: 1.6em;
    font-size: 14px;
}

/* Контент - конец */

/* Футер */

footer {
    display: inline-block;
    width: 966px;
    height: 40px;
    margin-left: 47px;
    margin-bottom: 40px;
    line-height: 40px;
    background-color: #e1e1e1;
}

.spisok_footer {
    list-style: none;
    width: 70%;
    float: left;
}

.menu3 {
    display: inline-block;
    line-height: 40px;
    padding: 0px 35px;
    font-size: 15px;
}

.menu3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.prava {
    float: right;
    margin-right: 35px;
}

/* Футер - конец */