* {
    margin: 0;
    padding: 0;
    outline: inherit;
    list-style: none;
}

body {
    height: 100%;
    background: #edece8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {
    position: relative;
}

.logo {
    padding: 11px 15px;
}

.navbar-border {
    border-radius: 0;
}

.navbar-background {
    background-color: black;
    margin-bottom: 0;
}

.navbar-right-color li a {
    color: rgba(255, 255, 255, 0.69);
    font-weight: 600;
    padding: 15px 18px;
}

.navbar-right-color li a:hover {
    color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-display {
    display: block;
}

.dropdown-display {
    background: black;
    min-width: 100px;
}

.dropdown-display li a:hover {
    background: black;
}

.start-axit {
    height: 640px;
    width: 100%;
    background-image: url(../img/fon.jpg);
    background-size: cover;
}

.axit-container {
    height: 100%;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.vertical-middle {
    display: table;
    height: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.template {
    font-size: 36px;
    margin: 10px 0;
}

.text {
    font-size: 16px;
    color: (255, 255, 255, 0.8);
    font-weight: 300;
    margin: 25px 0 30px;
}

.download {
    color: white;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 0;
    padding: 6px 20px;
    font-weight: 600;
    transition: ease-in-out 0.5s;
}

.download:hover {
    background: black;
    color: white;
    border: 2px solid black;   
}

.trial {
    position: relative;
    overflow: hidden;
    float: right;
    width: 360px;
    text-align: center;
    border-radius: 4px;
}

.head-trial {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    background: #f5f5f5;
    color: black;
}

.head-trial span {
    color: #ff8b38;
}

.form-trial {
    background: white;
    padding: 20px 0 30px;
}

.form-trial p {
    margin: 20px 0;
}

.form-trial input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
    width: 80%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #bdbdbd;
}

.started {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px 0;
    background: #ff8b38;
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.social {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
}

.social-container {
    position: relative;
    overflow: hidden;
    height: 110px;
}

.left-social {
    padding: 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
}

.social-title {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 5px;
}

.social-icon i {
    font-size: 48px;
    color: rgb(204, 204, 204);
}

.social-icon li {
    padding: 0 10px;
}

.social-icon li:hover i {
    color: rgb(0, 0, 0);
}

@media (max-width: 1200px) {
    
    .social-icon li {
        padding: 0;
    }   
    
}

@media (max-width: 991px) {
    
    .start-axit {
        height: 100%;
    }
    
    .vertical-middle {
        margin: 70px auto;
        text-align: center;
    }
    
    .social-icon i {
        font-size: 30px;
    }
    
    .col-social {
        margin: 0;
    }
    
    .left-social {
        padding: 5px 0;
    }
    
}

@media (max-width: 767px) {
    
    .dropdown:hover .dropdown-display {
        display: none;
    }
    
    .caret {
        display: none;
    }
    
    .social-text {
        display: none;
    }
    
    .social-title {
        text-align: center;
    }
    
    .social-cell {
        display: block;
    }
    
    .col-social {
        margin: 0 auto;
        height: auto;
    }
    
    .social-icon {
        margin: 0;
    }
    
    .social-icon li {
        float: left;
    }
    
}

@media (max-width: 640px) {
    
    .template {
        font-size: 30px;
    }
    
}

@media (max-width: 460px) {
    
    .template {
        font-size: 26px;
    }
    
    .trial {
        width: 300px;
    }
    
    .social-container {
        padding: 0;
    }
    
    .col-social {
        padding: 0;
    }
    
    .social-icon i {
        font-size: 25px;
    }
    
    .social-icon li a {
        padding: 10px 10px;
        font-size: 25px;
    }
    
}

@media (max-width: 380px) {
    
    .trial {
        width: 265px;
    }
    
}