@font-face {
    font-family: 'lucida Sans Unicode Regular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.wrapper {
    margin: 0 auto;
    width: 912px;
    height: 100%;
}

header {
    margin-top: 17px;
    margin-left: 6px;
    height: 100%;
}

section li {
    float: left;
    font-size: 19px;
    font-family: "Arial", sans-serif;
    color: rgb(94, 105, 109);
}

section li:first-child {
   margin-right: 4px;
    margin-top: 5px;
}

section li:last-child {
    margin-left: 6px;
    margin-right: 14px;
}

.section1 {
    margin-top: 7px;
}

.avtorizacia {
    width: 495px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    float: left;
    background: -webkit-linear-gradient(top, #1f6787 0%, #0C3357 100%);
    border-radius: 4px;
    border-bottom: 1px solid #596d80;
    border-left: 1px solid #d4dce3;
    border-top: 1px solid #a6c3cf;
    box-shadow: 2px 3px 3px 0px rgba(150, 150, 150, 0.75);
}

.active {
    position: relative;
    top: 5px;
    left: 6px;
}

.avtorizacia li {
    font-family: 'lucida Sans Unicode Regular', sans-serif;
}

.active1 {
    position: relative;
    left: 6px;
    bottom: 2px;
}

.z {
    margin-left: 4px;
}

.active2 {
    position: relative;
    left: 10px;
    bottom: 2px;
    font-size: 11px;
    color: white;
}

.active2 a {
    color: white;
    text-decoration: none;
}

.active3 {
    position: relative;
    left: 22px;
    bottom: 2px;
    text-decoration: underline;
    font-size: 12px;
}

.active3 a {
    color: rgb(191, 191, 191);
}

.login {
    width: 108px;
    height: 14px;
    border: 1px solid #dee0e0;
    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
    border-radius: 1px;
    font-family: 'lucida Sans Unicode Regular', sans-serif;
    font-size: 11px;
}
[placeholder] {
    padding-left: 3px; 
}

.avtorizacia li {
    display: inline-block;
}

nav {
    float: left;
    margin-left: 17px;
    margin-top: 1px;
    width: 74px;
    height: 20px;
    border: 1px solid #c1c8cb; 
    border-radius: 20px;
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}

nav ul {
    padding-left: 4px;
    padding-top: 1px;
}

nav li {
    display: inline-block;
    padding-left: 4px;
}

.menu {
    margin-top: 4px;
    width: 910px;
    height: 32px;
    background: -webkit-linear-gradient(top, #4d5663 0%, #010101 80%);
    border-radius: 5px;
}

.menu1 {
    float: left;
    margin-left: 129px;
    font-family: 'lucida Sans Unicode Regular',sans-serif;
    font-size: 13.6px;
    color: #b1bcc0;
}

.menu1 li {
    display: inline-block;
    width: 120px;
    text-align: center;
    line-height: 32px;
}

.menu1 li:hover {
    background: -webkit-linear-gradient(top, #1F6787 0%, #0C3357 100%);
    cursor: pointer;
    border-radius: 30px;
    height: 24px;
    line-height: 24px;
}

#oplata {
    width: 86px;
}

#dostavka {
    width: 102px;
    margin-left: -2px;
}

#statia {
    width: 80px;
    margin-left: -2px;
}

#contacts {
    width: 96px;
    margin-left: -2px;
}

.menu2 {
    float: right;
    margin-right: 17px;
}

.menu2 li{
    display: inline-block;
    line-height: 28px;
}

.korzina {
    position: relative;
    right: 2px;
    top: 5px;
}

.tovarov {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: rgb(138, 146, 150);  
}

.na_sumu {
  margin-left: 11px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: rgb(138, 146, 150);
}

.cena1 {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: rgb(13, 90, 143);
}

.cena2 {
    margin-left: 10px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: rgb(13, 90, 143);
}

.left {
    margin-top: 20px;
    float: left;
    width: 20%;
}

.katalog {
    padding-left: 2px;
    margin-bottom: 12px;
    width: 179px;
    height: 25px;
    line-height: 26px;
    font-size: 12.73px;
    text-transform: uppercase;
    font-family: 'lucida Sans Unicode Regular', sans-serif;
    color: rgb(17, 65, 101);
    border: 1px solid #8c969a;
    border-radius: 15px;
    box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75); 
}

.katalog img {
    float: left;
    padding-right: 4px;
}

.caption {
    width: 148px;
    height: 26px;
    border: 1px solid #79878d;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-left: 2px;
    padding-left: 1px;
}

.caption img  {
    float: left;
    padding-right: 3px;
    padding-top: 1px;
}

.caption span {
    height: 26px;
    line-height: 28px;
    font-size: 15px;
    font-family: 'lucida Sans Unicode Regular', sans-serif;
    color: rgb(17, 65, 101);
    text-transform: uppercase;
}

.caption ul {
    list-style-image: url(../img/homework61_03.png);
    width: 179px;
}

.caption li:first-child {
    margin-top: 8px;
}

.caption li {
    margin-left: 46px;
    margin-bottom: 12px;
    font-family: 'lucida Sans Unicode Regular', sans-serif;
    color: rgb(17, 65, 101);
    font-size: 12.73px;
}

.caption li a {
    text-decoration: none;
    color: rgb(17, 65, 101);
}

.caption ul li:hover {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    max-height: 12px;
    font-style: italic;
}

.right {
    float: right;
    margin-top: 20px;
    width: 20%;
}

.two {
    margin-bottom: 85px;
}

.two ul li {
    list-style-image: url(../img/checkbox.png);
    margin-left: 23px;
}

.two ul li:hover {
    list-style-image: url(../img/checkbox.png);
    max-height: 13px;
}

button {
    margin-top: 8px;
    width: 80px;
    height: 24px;
    border-radius: 20px;
    background: -webkit-linear-gradient(top, #1f6787 0%, #0C3357 100%);
    border: none;
    box-shadow: 1px 3px 3px 0px rgba(50, 50, 50, 0.75);
    font-size: 11px;
    font-family: "Arial", sans-serif;
    color: rgb(229, 233, 234);
    margin-left: 10px;
}

content {
    float: left;
    padding-top: 17px;
    width: 60%;
}

.vurovniat {
    width: 526px;
    margin: 0 auto;
}

.wrapper_content {
    display: inline-block;
    content: "";
    width: 526px;
    text-align: justify;
    height: 100%;
    background-image: -webkit-linear-gradient(top, #e5e7e8 0%, #93A7B0 100%);
    border-radius: 3px;
}

.wrapper_content ul {
    width: 473px;
    margin: 0 auto;
    padding-top: 16px;
}

.koleso {
    width: 142px;
    height: 131px;
    line-height: 131px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(164, 174, 177);
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 4px;
}

.koleso img {
    vertical-align: middle;
}

content li {
    display: inline-block;
    width: 142px;
    height: 174px;
    text-align: center;
    margin-bottom: 25px;
}

.bottom {
    margin-bottom: 0;
}

.obnulit {
    height: 0px;
}

.goodyear {
    color: #206988;
    font-size: 14.6px;
    font-family: 'lucida Sans Unicode Regular', sans-serif;
}
.ultra {
    color: #1f2528;
    font-size: 12.77px;
    font-family: 'lucida Sans Unicode Regular',sans-serif;
}

.grn {
    color: #114165;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.brend_logo {
    clear: both;
}

.brend_logo ul {
    width: 676px;
    margin: 0 auto;
}

.brend_logo li {
    padding-top: 40px;
    padding-bottom: 25px;
    float: left;
    padding-right: 13px;
}

.brend_logo li:last-child {
    padding-right: 0;
}

footer {
    clear: both;
    bottom: 0px;
    width: 907px;
    height: 99px;
    margin: 0 auto;
    background: #213a4d;
    border: 1px solid #223346;
    box-shadow: 1px 0px 1px 0px rgba(50, 50, 50, 0.75);
}

.spisok_footer {
    width: 100%;
    margin: 0 auto;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    color: white;
    margin-right: 9px;
    padding-top: 12px;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
}

footer li:last-child {
    margin-left: 0px;
}

footer li:hover {
    color: #52abcb;
    cursor: pointer;
}

footer li:hover:nth-child(2) {
    color: white;
    cursor: auto;
}

footer li:hover:nth-child(4) {
    color: white;
    cursor: auto;
}

footer li:hover:nth-child(6) {
    color: white;
    cursor: auto;
}

.copy {
    width: 100%;
    text-align: center;
    margin-top: 17px;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    color: #7f4740;
}
