* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.wrapper-header {
    width: 100%;
    background: url(../img/fon.png) no-repeat;
    height: 700px;
    background-size: cover;
}

.header {
    width: 940px;
    margin: 0 auto;
    height: 700px;
}

.logotip {
    display: inline-block;
    padding: 51px 0;
    color: white;
    font-size: 20px;
}

.login {
    float: right;
    padding: 38px 0;
    text-align: center;
}

.login li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    border: 2px solid white;
    border-radius: 20px;
}

#border {
    border: none;
}

.login a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.block {
    display: block;
}

.center {
    text-align: center;
}

.text1 {
    padding-top: 87px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 52px;
    color: white;
    text-transform: uppercase;
}

.text2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;
    padding: 24px 0;
}

.find {
    width: 225px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    background-color: #ff4e50;
    border-radius: 20px;
}

.find a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.works {
    margin: 95px 0;
}

.text3 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 22px;
    margin-bottom: 35px;
}

.carusel li {
    width: 33%;
    height: 400px;
    display: inline-block;
}

.step {
    margin-left: 21px;
    margin-top: -188px;
}

.two {
    margin-top: -136px;
}

.article {
    font-size: 24px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 21px;
    margin-top: 10px;
}

.infa {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    color: rgb(204, 204, 204);
    margin-left: 21px;
    margin-top: 10px;
    margin-right: 5px;
}

.partner {
    margin-bottom: 95px;
}

.partner li {
    text-align: center;
    width: 24.6%;
    display: inline-block;
    vertical-align: top;
}

p.name {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.people {
    margin-left: 0;
    color: #666666;
}

.middle {
    margin-top: 33px;
    background: none;
    border: 2px solid #ff4e50;
}

.middle a {
    color: #ff4e50;
}

.container-fluid {
    padding: 0;
    width: 945px;
    padding-left: 5px;
    margin-bottom: 95px;
}

.row {
    margin: 0;
}

.masonry-container {
    padding: 0px;
}

.holiday {
    margin-bottom: 30px;
}

.grid-sizer {
    width: 30%;
}

.item {
    text-align: center;
    padding: 0;
    overflow: hidden;
    height: 310px;
    margin-right: 12px;
    margin-bottom: 15px;
    width: 300px;
    border-radius: 4px;
}

.item img {
    width: 100%;
    height: 100%;
}

.item:nth-child(3) {
    margin-right: 0;
}

.item:nth-child(5) {
    margin-right: 0;
}

.item:nth-child(7) {
    margin-right: 0;
}

.big {
    width: 615px;
}

.textf {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: white;
    font-size: 22px;
    margin-left: 25px;
    z-index: 1;
    margin-top: -180px;
    position: absolute;
}

.texts {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: white;
    font-size: 22px;
    margin-left: 60px;
    z-index: 1;
    margin-top: -180px;
    position: absolute;
}



.search {
    margin-bottom: 282px;
}

.bottom {
    font-size: 18px;
    color: #333333;
}

.second {
    margin-bottom: 20px;
}

.search__form {
    width: 411px;
    margin: 0 auto;
}

.search__input {
    line-height: 39px;
    height: 39px;
    width: 220px;
    margin-right: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 15px; 
}

.search__btn {
    width: 160px;
    height: 40px;
    border: none;
    font: 14px "montserrat-bold", sans-serif;
    color: #fff;
    background-color: #ff4e50;
    border-radius: 20px;
}

.footer {
    height: 197px;
    margin-top: -197px;
}

.line {
    width: 100%;
    height: 4px;
    background-color: #ff4e50;
    margin-bottom: 35px;
}

.footer-content {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}

.flogotip {
    float: left;
    margin-right: 100px;
}

.caption {
    float: left;
    margin-right: 100px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
}

.caption ul {
    margin-top: 10px;
}

.podmenu {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
}

.footerLogotip {
    float: right;
    margin-top: -10px;
}

.designed {
    display: block;
    float: right;
    margin-bottom: 5px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 10px;
    color: #cccccc;
}